@{
    ViewData["Title"] = "About";
}
<div class="container margin_60_35 add_bottom_30">
    <div class="main_title">
        <h2>About Tennis Pro Store</h2>
        <p>
            Vietnam's leading e-commerce platform for tennis accessories
        </p>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5">
            <div class="box_about">
                <h2>Featured Products</h2>
                <p class="lead">Premium Tennis Rackets</p>
                <p>Premium tennis rackets designed for both professional and semi-professional players, offering excellent stability, ball control, and solid feel. Made from durable materials with advanced technology, they are an ideal choice to boost your performance.</p>
                <img src="~/Content/img/arrow_about.png" alt="" class="arrow_1">
            </div>
        </div>
        <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
            <img src="~/Content/img/about_1.svg" alt="" class="img-fluid" width="350" height="268">
        </div>
    </div>
    <!-- /row -->
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
            <img src="~/Content/img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
        </div>
        <div class="col-lg-5">
            <div class="box_about">
                <h2>Top Brands</h2>
                <p class="lead">Tennis Pro Store</p>
                <p>Tennis Pro Store is a trusted destination for sports enthusiasts, offering genuine tennis accessories from well-known brands like Wilson, Babolat, Head, etc. We are committed to delivering high-quality products for players of all skill levels.</p>
                <img src="~/Content/img/arrow_about.png" alt="" class="arrow_2">
            </div>
        </div>
    </div>
    <!-- /row -->
    <div class="row justify-content-center align-items-center ">
        <div class="col-lg-5">
            <div class="box_about">
                <h2>1000+ Tennis Products</h2>
                <p class="lead">Accessories & Equipment</p>
                <p>We offer over 1000 specialized tennis products, including shoes, backpacks, strings, jerseys, and training equipment. With a wide range and outstanding quality, you can easily find everything you need to enhance your tennis skills and playing style.</p>
            </div>

        </div>
        <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
            <img src="~/Content/img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<div class="bg_white">
    <div class="container margin_60_35">
        <div class="main_title">
            <h2>Why Choose Tennis Pro Store?</h2>
            <p>We provide high-quality tennis accessories from the world’s top brands, ensuring you get the best sporting experience. Tennis Pro Store is your trusted companion at every skill level.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-medall-alt"> </i>
                    <h3>Over 1000 Satisfied Customers</h3>
                    <p>With over 1000 trusted customers, we are proud to be a reputable and reliable provider of quality tennis accessories nationwide.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-help-alt"> </i>
                    <h3>Professional Consultation</h3>
                    <p>Our knowledgeable team is always ready to help you choose the right gear that fits your skill level and playing style.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-gift"> </i>
                    <h3>Attractive Promotions</h3>
                    <p>Join our special promotion programs and receive attractive gifts with every purchase. Updated weekly!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-headphone-alt"> </i>
                    <h3>Fast Support</h3>
                    <p>Having trouble with your purchase or need further advice? Our support team is always ready to help quickly, professionally, and wholeheartedly.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-wallet"> </i>
                    <h3>Flexible and Secure Payment</h3>
                    <p>We support various convenient payment methods and ensure complete security for all transactions, giving you peace of mind while shopping online.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box_feat">
                    <i class="ti-comments"> </i>
                    <h3>24/7 Live Chat</h3>
                    <p>Our 24/7 live chat service is always available to assist you anytime, anywhere—making it easy to find suitable products and place orders quickly.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin_60">
    <div class="main_title">
        <h2>Development Team</h2>
        <p>Tennis accessory sales website - Tennis Pro Store - My first website</p>
    </div>
    <div class="owl-carousel owl-theme carousel_centered">
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Trương Đắc Điền<em>Dev</em></h4>
                </div><img src="~/Content/img/staff/Dien.jpg" alt="" style="width:350px; height: 350px;">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Trần Thiện Khiêm<em>Dev</em></h4>
                </div><img src="~/Content/img/staff/Khiem.jpg" alt="" style="width:350px; height: 350px;">
            </a>
        </div>
        <div class="item">
            <a href="#0">
                <div class="title">
                    <h4>Nguyễn Quốc Huy<em>Dev</em></h4>
                </div><img src="~/Content/img/staff/Huy.jpg" alt="" style="width:350px; height: 350px;">
            </a>
        </div>
    </div>
    <!-- /carousel -->
</div>
<!-- /container -->
