@{
	ViewData["Title"] = "About";
}
<div class="container margin_60_35 add_bottom_30">
	<div class="main_title">
		<h2>Về Tennis World</h2>
		<p>
			Trang thương mại điện tử về tennis hàng đầu Việt Nam
		</p>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Sản phẩm nổi bật</h2>
				<p class="lead">Vợt tennis Babolat Boost Drive Wimbledon 260gr 2024 chính hãng (121249)</p>
				<p>
					Với thiết kế lấy cảm hứng từ giải Grand Slam huyền thoại của Anh,Vợt tennis Babolat Boost Drive Wimbledon 260gr 2024 chính hãng (121249) sẽ cho phép bạn tạo ra những đường bóng nghẹt thở, lấn át đối thủ một cách sang trọng. Cây vợt này có một khung vợt bằng Graphite kết hợp với phần đầu lớn hơn (105 inch) cho phép tạo ra một điểm ngọt lớn dẫn đến những cú đánh tốt hơn.
				</p> 
				<p>
					Trọng lượng vợt tennis Babolat Boost Drive Wimbledon chỉ có 260g mang đến khả năng xử lý tuyệt vời, lý tưởng cho phụ nữ và người mới bắt đầu, trong khi công nghệ WOOFER SYSTEM đảm bảo khả năng kiểm soát tốt hơn và đảm bảo cảm giác thoải mái cao.
				</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_1">
			</div>
		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_1.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Thương hiệu hàng đầu</h2>
				<p class="lead">Tennis World</p>
				<p>Tennis World là điểm đến lý tưởng dành cho những người đam mê quần vợt. Chúng tôi chuyên cung cấp các sản phẩm và phụ kiện tennis chất lượng cao, từ vợt, bóng, giày cho đến trang phục thi đấu. Với phương châm "Chuyên nghiệp - Chính hãng - Đam mê", Tennis World không ngừng nỗ lực mang đến trải nghiệm tốt nhất cho người chơi ở mọi cấp độ, từ người mới bắt đầu cho đến vận động viên chuyên nghiệp. Tennis World – nơi truyền cảm hứng và đam mê cho mọi cú đánh!</p>
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_2">
			</div>
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center ">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>+1000 sản phẩm tennis</h2>
				<p class="lead">Tennis World</p>
				<p>Tennis World cung cấp hơn 1000 sản phẩm liên quan đến tennis đa dạng và chất lượng, từ vợt, bóng, giày, trang phục cho đến các phụ kiện luyện tập hiện đại. Chúng tôi cam kết mang đến trải nghiệm mua sắm chuyên nghiệp, phục vụ nhanh chóng, sản phẩm chính hãng và phù hợp với mọi đối tượng – từ người mới chơi đến vận động viên chuyên nghiệp. Dù bạn cần thi đấu hay luyện tập, Tennis World luôn sẵn sàng đồng hành cùng bạn trong từng cú đánh.</p>
			</div>

		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<div class="bg_white">
	<div class="container margin_60_35">
		<div class="main_title">
			<h2>Tại sao chọn Tennis World?</h2>
			<p>Chúng tôi mang đến cho bạn những sản phẩm tennis chất lượng từ các thương hiệu hàng đầu trên thế giới, giúp bạn tiếp cận đa dạng phong cách thi đấu, công nghệ hiện đại và trải nghiệm chơi tối ưu. Hãy để Tennis World trở thành lựa chọn lý tưởng mỗi khi bạn cần trang bị, luyện tập hoặc thi đấu – nơi khơi nguồn đam mê và nâng tầm từng cú đánh của bạn!</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-medall-alt"> </i>
					<h3>Hơn 1000 khách hàng hài lòng</h3>
					<p>Chúng tôi tự hào cung cấp những sản phẩm và dịch vụ chất lượng, được tin tưởng bởi hơn 1000 khách hàng trên khắp cả nước. Sự hài lòng của bạn là động lực để chúng tôi không ngừng nỗ lực và cải thiện mỗi ngày.</p>

				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-help-alt"> </i>
					<h3>Hỗ trợ 24/7</h3>
					<p>Chúng tôi luôn sẵn sàng hỗ trợ bạn mọi lúc, mọi nơi, 24/7. Đội ngũ chăm sóc khách hàng chuyên nghiệp sẽ đảm bảo giải đáp mọi thắc mắc và mang đến cho bạn trải nghiệm tốt nhất.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-gift"> </i>
					<h3>Ưu đãi cực lớn</h3>
					<p>Đừng bỏ lỡ cơ hội nhận những khuyến mại hấp dẫn nhất! Chúng tôi mang đến nhiều ưu đãi đặc biệt, giúp bạn tận hưởng sản phẩm chất lượng với mức giá tuyệt vời.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-headphone-alt"> </i>
					<h3>Đường dây hỗ trợ trực tiếp</h3>
					<p>Liên hệ ngay với đường dây hỗ trợ của chúng tôi để nhận được sự tư vấn và giải đáp nhanh chóng. Chúng tôi luôn sẵn sàng lắng nghe và đồng hành cùng bạn mọi lúc.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-wallet"> </i>
					<h3>Thanh toán an toàn</h3>
					<p>Chúng tôi cam kết bảo vệ thông tin của bạn với hệ thống thanh toán an toàn, đảm bảo mọi giao dịch được xử lý nhanh chóng và bảo mật tuyệt đối. Bạn có thể yên tâm về mỗi lần thanh toán trên nền tảng của chúng tôi.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-comments"> </i>
					<h3>Hỗ trợ qua Trò chuyện</h3>
					<p>Chúng tôi cung cấp dịch vụ hỗ trợ khách hàng qua trò chuyện trực tuyến 24/7. Bạn có thể nhận được sự trợ giúp ngay lập tức từ đội ngũ chuyên gia, giúp giải quyết mọi thắc mắc và vấn đề trong thời gian ngắn nhất.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container margin_60">
	<div class="main_title">
		<h2>Đội ngũ phát triển</h2>
		<p>Website về Tennis - Tennis World</p>
	</div>
	<div class="owl-carousel owl-theme carousel_centered">
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Trần Thiện Khiêm<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Khiem.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Nguyễn Quốc Huy<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Huy.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
		<div class="item">
			<a href="#0">
				<div class="title">
					<h4>Trương Đắc Điền<em>Dev</em></h4>
				</div><img src="~/Content/img/staff/Dien.jpg" alt="" style="width:350px; height: 350px;">
			</a>
		</div>
	</div>
	<!-- /carousel -->
</div>
<!-- /container -->