@{
    ViewData["Title"] = "Contact";
}

<div class="container margin_60">
    <div class="main_title">
        <h2>Contact Tennis Pro Store</h2>
        <p>Vietnam’s leading e-commerce site for tennis accessories</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-support"> </i>
                <h2>Tennis Pro Support Center</h2>
                <a href="#0">+84 987-65-4321</a> - <a href="#0">tennisprostore.vn</a>
                <small>
                    Monday to Friday: 9:00 AM - 6:00 PM<br>
                    Saturday & Sunday: 9:00 AM - 2:00 PM
                </small>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-map-alt"> </i>
                <h2>Tennis Pro Store Showroom</h2>
                <a href="#0">Thu Duc City, Ho Chi Minh City</a>
                <small>
                    Monday to Friday: 9:00 AM - 6:00 PM<br>
                    Saturday & Sunday: 9:00 AM - 2:00 PM
                </small>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-package"> </i>
                <h2>Order & Delivery Support</h2>
                <a href="#0">+84 987-65-4321</a> - <a href="#0">tennisprostore.vn</a>
                <small>
                    Monday to Friday: 9:00 AM - 6:00 PM<br>
                    Saturday & Sunday: 9:00 AM - 2:00 PM
                </small>
            </div>
        </div>
    </div>
</div>

<div class="bg_white">
    <div class="container margin_60_35">
        <h4 class="pb-3">Contact Us</h4>
        <div class="row">
            <div class="col-lg-4 col-md-6 add_bottom_25">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name *">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email *">
                </div>
                <div class="form-group">
                    <textarea class="form-control" style="height: 150px;" placeholder="Message *"> </textarea>
                </div>
                <div class="form-group">
                    <input class="btn_1 full-width" type="submit" value="Send">
                </div>
            </div>
            <div class="col-lg-8 col-md-6 add_bottom_25">
                <iframe class="map_contact" src="https://maps.google.com/maps?width=980&amp;height=400&amp;hl=en&amp;q=TP Thủ Đức, TP Hồ Chí Minh&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen> </iframe>
            </div>
        </div>
    </div>
</div>
