<div id="comments">
	<h5>Comments</h5>
	<ul>
		<li>
			<div class="avatar">
				<a href="#">
					<img src="~/Content/img/avatar1.jpg" alt="User avatar">
				</a>
			</div>
			<div class="comment_right clearfix">
				<div class="comment_info">
					By <a href="#">Minh Nguyen</a><span>|</span>April 15, 2025<span>|</span>
					<a href="#"><i class="icon-reply"></i></a>
				</div>
				<p>
					I purchased a Wilson racket from Tennis Pro Store and the quality exceeded my expectations! Delivery was fast and the packaging was secure. I'm also really impressed with the staff – super knowledgeable and friendly.
				</p>
			</div>
			<ul class="replied-to">
				<li>
					<div class="avatar">
						<a href="#"><img src="~/Content/img/avatar2.jpg" alt="User avatar"></a>
					</div>
					<div class="comment_right clearfix">
						<div class="comment_info">
							By <a href="#">Tennis Pro Admin</a><span>|</span>April 15, 2025<span>|</span>
							<a href="#"><i class="icon-reply"></i></a>
						</div>
						<p>
							Thank you so much, Minh, for trusting Tennis Pro Store! Wishing you amazing matches with your new racket!
						</p>
						<p>
							If you ever need advice on string selection or racket maintenance, feel free to reach out to us anytime!
						</p>
					</div>
					<ul class="replied-to">
						<li>
							<div class="avatar">
								<a href="#"><img src="~/Content/img/avatar2.jpg" alt="User avatar"></a>
							</div>
							<div class="comment_right clearfix">
								<div class="comment_info">
									By <a href="#">Minh Nguyen</a><span>|</span>April 15, 2025<span>|</span>
									<a href="#"><i class="icon-reply"></i></a>
								</div>
								<p>
									Absolutely! I'm actually looking at shoes and a new tennis bag next. Hoping to see more great deals from your store soon!
								</p>
								<p>
									Thanks a lot again – you’ve earned a loyal customer!
								</p>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<div class="avatar">
				<a href="#"><img src="~/Content/img/avatar3.jpg" alt="User avatar"></a>
			</div>
			<div class="comment_right clearfix">
				<div class="comment_info">
					By <a href="#">Linh Tennis</a><span>|</span>April 15, 2025<span>|</span>
					<a href="#"><i class="icon-reply"></i></a>
				</div>
				<p>
					Can you guys write a comparison between Head and Babolat rackets? I’m a beginner and not sure which one suits me better.
				</p>
			</div>
		</li>
	</ul>
</div>

<hr>

<h5>Leave a Comment</h5>
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="form-group">
			<input type="text" name="name" id="name2" class="form-control" placeholder="Name">
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="form-group">
			<input type="email" name="email" id="email2" class="form-control" placeholder="Email">
		</div>
	</div>
	<div class="col-md-4 col-sm-12">
		<div class="form-group">
			<input type="text" name="website" id="website3" class="form-control" placeholder="Website (optional)">
		</div>
	</div>
</div>
<div class="form-group">
	<textarea class="form-control" name="comments" id="comments2" rows="6" placeholder="Write your comment here..."></textarea>
</div>
<div class="form-group">
	<button type="submit" id="submit2" class="btn_1 add_bottom_15">Submit</button>
</div>
